@page "/NotesPages/From-good-at-school-to-coding"

<PageTitle>From Good at School to Coding | Taurius Antanevicius' Personal Website</PageTitle>

<div class="post-header">
    <h1>From Good at School to Coding</h1>
</div>
<div class="post-content">
    <p>I thought about writing about this topic as I recently found myself in a
        confusing place where I was trying to learn all technologies at once and
        not having a preference for the job in software engineering I was going to do.
    </p>

    <h3>Humble beginnnings</h3>
    <p>At one point of feeling quite distracted and lost, I had a realization that
        I was quite good at school. Me and others knew I was so called "smart" and
        I truly aced most of the subjects and thrived in that environment. It was not
        easy but it was doable and I did it!
    </p>
    <h3>Mindset Boost</h3>
    <p>I realized that at this time in my software developer career, I need to remember
        that I am insanely capable of learning new things and being good at them. This
        is my strength and my passion.
    </p>
    <h3>Mindset Switch</h3>
    <p>I am done being all-can-do developer and decide to be focused .NET developer,
        who values deep work, deep understanding, specialization and mastery of 
        application development.
    </p>
    <h3>This Site</h3>
    <p>This site reflects the beginning of this new professional chapter that I am taking.
        And I am excited to keep it up to date.
    </p>
    <h3>Previous developer experience</h3>
    <p>I did Bachelor studies and worked 2 years at IT Consultancy company where I
        had a privilege to learn about all kinds of software, devops, cloud and businesses.
    </p>
    <h3>Conclusion</h3>
    <p>From good at school to 7 years later I am continuing to use my strengths of deep focus and creativity
        to follow the path of greatness.
    </p>
</div>