@page "/about"

<PageTitle>About Me | Taurius Antanevicius' Personal Website</PageTitle>

<div class="hero">
    <h1>About Me</h1>
</div>
<div class="segment-small">
    <p>Hey, I’m Taurius. I’ve been a software developer since 2017, when I started 
        a technical degree in the Netherlands. At 2024, after 7 years of studies and work, I moved back to my home-land
        - Lithuania, where I continue the journey of becoming a better developer and a better follower of Christ.
    </p>
    <p>
        This site, apparently, is my personal website, where I share my top values,
        and deep work results that hopefully have a meaningful impact on the world and
        on the skills I develop in the process. 
    </p>

    <h3>Contact</h3>
    <ul>
        <li>
            Email me at: taurius159 [at] gmail [dot] com
        </li>
        <li>
            <a href="https://www.linkedin.com/in/taurius-antanevicius/" target="_blank">LinkedIn </a>
        </li>
        <li>
            <a href="https://github.com/taurius159/" target="_blank">GitHub</a>
        </li>
    </ul>
    <h2>What I'm doing now</h2>
    <p>
        <em>Updated September 16th, 2024</em>
    </p>
    <ul>
        <li>
            Developing this site and God's Word game on this site
        </li>
        <li>
            Attending 
            <a href="https://www.journeychurch.lt/" target="_blank">
                Journey Church
            </a> in Vilnius
        </li>
        <li>
            Looking for a .NET developer role
        </li>
        
    </ul>
</div>
