@page "/about"

<PageTitle>About Me | Taurius Antanevicius' Personal Website</PageTitle>

<div class="hero">
    <h1>About Me</h1>
</div>
<div class="segment-small">
    <p>Hey, I’m Taurius. I’ve been a software developer since 2017, when I started 
        my technical degree in the Netherlands. Now I am back in my home-land
        - Lithuania, where I am happily continuing my carreer.
    </p>

    <p>My motivation for this site is to have a space for self-study, 
        self-expression and to share the joy of meaningful and insightful 
        learning and creation.
    </p>

    <h3>Contact</h3>
    <ul>
        <li>
            Email me at: taurius159 [at] gmail [dot] com
        </li>
        <li>
            <a href="https://github.com/taurius159/" target="_blank">GitHub</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/taurius-antanevicius/" target="_blank">LinkedIn </a>
        </li>
    </ul>
    <h2>What I'm doing now</h2>
    <p>
        <em>Updated September 11th, 2024</em>
    </p>
    <ul>
        <li>
            Looking for a .NET developer role
        </li>
        <li>
            Developing this site
        </li>
        <li>
            Creating my life in Vilnius
        </li>
    </ul>
</div>
