@page "/godsword"
@inject IJSRuntime JS;
@rendermode InteractiveServer

<PageTitle>God's Word | Taurius Antanevicius' Personal Website</PageTitle>

<div class="hero">
    <h1>God's Word Game</h1>
    <p style="font-size: 1rem;">3 minute game where you play as an individual who gets to save souls by affecting and getting affected
        by the world around you. From Genesis to the End Times.
    </p>
</div>

<canvas id="threeCanvas" width="800" height="600" style="border:1px solid black;"></canvas>

@code {
    private string? imageSource;
    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>(
                "import", "./Components/Pages/GodsWord.razor.js");            
        }

        await module.InvokeVoidAsync("initializeThreeJS", "threeCanvas");
    }
}
