@page "/"
@using Layout
@layout MainLayout

<PageTitle>Home</PageTitle>

<div class="her-wrapper">
    <header class="hero index">
        <h1>Hey, I'm Taurius</h1>
        <p>I’m a software developer who intends to deepen the understanding of software 
            creation through voluntary open-source projects and deep work.</p>
        <p>You can check out my  open-source projects, read some of my notes, 
            or learn more about me.</p>
        <p>Big Disclaimer: This Site Design Heavily Copied from 
            taniarascia.com for education purposes</p>
    </header>
    <div class="decoration">
        <img src="images/hero-pc.png" alt="hero-image" class="home-image"/>
    </div>
</div>