@page "/"
@using Layout
@layout MainLayout

<PageTitle>Home | Taurius Antanevicius' Personal Website</PageTitle>

<div class="hero-home">
    <h1>Hey, I'm Taurius</h1>
    <img src="images/laptop.png" alt="laptop"/>
    <p>I know we can feel alone in this world, but I want to remind
        you that God is real and He loves you. In this site, I share my joy
        of being loved and my given ability to make a change, to make things happen.</p>
    <p>Next thing on the list is to use CSS to improve
        this site or scaffold new sites and learn web design
        and development by doing. Also, I am thinking to do something
        with three.js at 
        <a href="playground">playground page</a>
        . Find my contacts at
        <a href="about">about me</a> page.</p>
    <p><strong>Disclaimer:</strong> The credit for the design of this site goes to 
        <a href="https://www.taniarascia.com" target="_blank">taniarascia.com</a></p>
</div>
