@page "/"
@using Layout
@layout MainLayout

<PageTitle>Home | Taurius Antanevicius' Personal Website</PageTitle>

<div class="hero-home">
    <h1>Hey, I'm Taurius</h1>
    <img src="images/laptop.png" alt="laptop"/>
    <p>I’m a follower of Jesus Christ and a craftsman of software and in this site I share my
        gifts with the world.</p>
    <p>I'm now working on a Biblical game - 
        <a href="/godsword">God's Word</a>
        . And you can learn more 
        <a href="about">about me</a>.</p>
    <p><strong>Disclaimer:</strong> The credit for the design of this site goes to 
        <a href="https://www.taniarascia.com" target="_blank">taniarascia.com</a></p>
</div>
