@page "/notes"

<PageTitle>Notes | Taurius Antanevicius' Personal Website</PageTitle>

<div class="hero">
    <h1>Notes</h1>
    <p>Notes on projects, life, and everything else I want to write about.</p>
</div>
<div class="segment">
    <h2>2024</h2>
    <div class="posts">
        <a class="post" href="notes/from-good-at-school-to-coding">
            <h3>From Good at School to Coding</h3>
            <time>Sep 11</time>
        </a>
    </div>
</div>