@page "/projects"

<PageTitle>Projects | Taurius Antanevicius' Personal Website</PageTitle>

<div class="row">
    <div class="col-12">
        <h1>Projects</h1>
        <p>This is the projects page.</p>
    </div>
</div>
