/* MAIN */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Averia Serif Libre";
  font-size: 16px;
  background-color: #181818;
  color: #cfcfcf;
  font-weight: 500;
}

.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #fcd37a;
  text-decoration: none;
}

a:hover {
  color: #ffeea6;
  text-decoration: underline;
}

/* Navigation Including Brand */

nav {
  padding-bottom: 20px;
  padding-top: 30px;
  border-bottom: 1px solid #333;
  margin-bottom: 30px;
  font-weight: 700;
}

nav a {
  padding-left: 50px;
  float: right;
  color: #bbbbbb;
  text-decoration: none;
  font-size: 1.1rem;
}

nav a:first-child {
  padding-left: 0;
  float: left;
}

nav a:hover {
  color: #fff;
  text-decoration: none;
}

nav a.active {
  color: #fff;
}

/* Special Hero Section - Home */
.hero-home img {
  width: 250px;
  height: auto;
  float: right;
}

.hero-home h1 {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  color: #fff;
}

.hero-home p {
  font-size: 1.3rem;
  margin: 1.5rem 0 20px;
  line-height: 1.6;
  float: left;
  width: 60%;
}

/* General Hero Section */
.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.hero p {
  font-size: 1.3rem;
  margin: 1.5rem 0 20px;
  line-height: 1.6;
}

/* Project-Cards Grid*/
.projects-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}

.project-grid-item {
  background-color: #333;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  padding: 20px;
  height: fit-content;
}

.project-grid-item time {
  color: #fcd37a;
  font-size: 1.1rem;
  display: block;
}

.project-header {
  color: #fff;
  text-decoration: none;
}

.project-header:hover {
  color: #fff;
  text-decoration: underline;
}

/* SEGMENT - NOTES CSS */
.segment {
  margin-top: 65px;
  margin-bottom: 20px;
}

.segment h2 {
  color: #fff;
  font-weight: 600;
}

.post {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.post h3 {
  font-size: 1.1rem;
}

.post time {
  color: #bbbbbb;
}

/* Small Screen Support */
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  nav a {
    padding-left: 20px;
    font-size: 1rem;
  }

  nav a:first-child {
    padding-left: 0;
  }

  .hero-home p {
    width: 100%;
    font-size: 1.4rem;
  }

  .hero-home h1 {
    font-size: 2.4rem;
  }

  .hero-home img {
    float: left;
  }
  .projects-grid {
    grid-template-columns: auto;
  }
}
