html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #181818;
  color: #3a3a3a;
}

.navbar {
  background-color: #181818;
}

.nav-link {
  color: #cfcfcf;
  border-radius: 5px;
}

/* Active link text color */
.nav-link.active {
  color: white;
}

.nav-link:hover {
  color: white;
  background-color: #3a3a3a;
  border-radius: 5px;
}

.nav-link svg {
  fill: currentColor;
}
